* {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
}

html,
body {
    height: 200%;
    width: 100%;
}

/* 头部导航栏 */
#header_first {
    width: 100%;
    height: 5%;
}

.first {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #ce1c1c;
    position: absolute;
    top: 0;
    border-bottom: 1.5px solid #fdf3f5;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 35px;
    text-decoration: none;
    font-size: 18px;
}

.active {
    background-color: white;
    font-size: 19px;
    font-weight: 550;
    color: black;
}

li a:hover.active {
    background: linear-gradient(pink, rgb(215, 108, 108));

    font-size: 19.5px;
}

/* 侧边栏展开按钮 */

.left_bar_open {
    display: inline-block;
    cursor: pointer;
    padding: 10%;
    border-radius: 80%;
    margin: 0.35%;
    margin-bottom: 0;
}

.left_bar_open:hover {
    background-color: rgb(0, 0, 0, 0.1);

}

.left_bar_open:active {
    background-color: rgb(0, 0, 0, 0.3);

}

.bar1,
.bar2,
.bar3 {
    width: 34.5px;
    height: 3.5px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* 头部菜单 */
.header {

    border: 1.3px solid #dfbbbb;
}


img {
    padding-top: 15px;
}

/* 以下是下拉菜单栏部分代码 */

li a,
.dropbtn {
    display: inline-block;
    color: white;
    font-size: 19px;
    font-weight: 525;
    text-align: center;
    padding: 18px 42.8px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #a31717;
    font-size: 18.7px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 23px;
    font-weight: 480;
    min-width: 160px;
    box-shadow: 2px 2px 5px rgb(33, 33, 33);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: linear-gradient(pink, rgb(241, 226, 226));

}

.dropdown:hover .dropdown-content {
    display: block;
}

/*搜索框  */

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid white;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid rgb(230, 164, 164);
    background: white;
    text-align: center;
    color: #ce1c1c;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 40%;
    position: absolute;
    top: 38px;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* 主体左侧栏 */
#middle {
    display: flex;
    height: 90%;
    width: 100%;

}

.sidenav {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(190, 233, 240), white);
    overflow-x: hidden;
    text-align: center;
    font-weight: 450;
    transition: 0.5s;

}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.left_2 a {
    padding: 11%;
    color: black;
    text-decoration: none;
    display: block;

}

.left_2 a:hover {
    background-color: white;
    font-size: 26px;
}

.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openbuttons {
    transition: margin-left .5s;
    display: inline-block;
    cursor: pointer;
    padding: 0.6%;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* 向上返回按钮 */
.up {
    background: linear-gradient(rgb(190, 233, 240), white);
    height: 10%;
    width: 5%;
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 100000;
    text-align: center;
    border-radius: 20%;
}

/* 主体部分 */
.middle_content {
    width: 100%;
    height: 100%;
    align-items: center;
}

.photo {
    margin-left: 15.653%;
    width: 71.6%;
    height: 24.5%;
    align-items: center;
}

.list {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 0px;

}

.item {
    width: 100%;
    height: 100%;
    list-style: none;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all .8s;
}

.item:nth-child(1) {
    background-color: #ce1c1c;
}

.item:nth-child(2) {
    background-color: white;
}

.item:nth-child(3) {
    background-color: white;
}

.item:nth-child(4) {
    background-color: white;
}

.item:nth-child(5) {
    background-color: white;
}

.item.active {
    z-index: 10;
    opacity: 1;
}

.btn {
    width: 70px;
    height: 100px;
    z-index: 100;
    position: absolute;
    top: 55%;

}

#leftBtn {
    left: 15.5%
}

#rightBtn {
    right: 12.5%;
}

#photolist {
    list-style: none;
    z-index: 200;
    position: absolute;
    right: 45%;
    bottom: 20px;
}

.point {
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: slategray;
    cursor: pointer;
}

.point.active {
    background-color: cadetblue;
}

/* 主体文字部分 */
.content {
    margin-left: 15.653%;
    padding-top: 3%;
    width: 71.6%;
    height: 16%;
    display: flex;
}

.content_next {
    padding-right: 1%;
    font-size: 22px;
    font-weight: 100;
    width: 50%;
    height: 100%;
}

/* 今天中午吃什么嘞？ */
.food {
    width: 100%;
    height: 30%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.food1 {
    height: 35%;
    width: 100%;
    text-align: center;
    font-size: 600%;
    margin: 3%;
}

.food2 {
    height: 10%;
    width: 100%;
}

.food3 {
    background: linear-gradient(yellow, white);
    font-size: 350%;
    border-radius: 15%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    width: 20%;
    height: 100%;
}

.food3 :hover {
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 15%;

}

.food3 :active {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 15%;

}

#eatfood {
    font-size: 400%;
    color: orange;
    margin: 8%;
}

.foodphoto {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.foodphoto img {
    height: 98%;
    width: 100%;
}

/* 做的好不 */
.good {
    height: 29.5%;
    width: 100%;
    text-align: center;
    font-size: 400%;
}

#good1 {
    height: 45%;
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding: 2%;
}

.good2 {
    height: 30%;
    width: 100%;
    display: inline-block;
}

.good3 {
    width: 38%;
    height: 10%;
    border-radius: 5%;
    background: linear-gradient(pink, white);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 6%;
}

.good4 {
    width: 38%;
    height: 10%;
    border-radius: 5%;
    background: linear-gradient(pink, white);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5%;
}


/* 主题右侧分栏 */
.right_bar {
    width: 18%;
    height: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
}

/* 尾部 */

#footer {
    height: 5%;
    width: 100%;
    background-color: #ce1c1c;
}